extends c

snippet map "std::map (map)"
std::map<${1:key}, ${2:value}> map$0;
endsnippet

snippet vector "std::vector (v)"
std::vector<${1:char}> v$0;
endsnippet

snippet hackit "not sync with stdio"
auto hackit = [](){
   std::ios::sync_with_stdio(false); 
   std::cin.tie(0);
}();
endsnippet

snippet BinaryIndexdTree "" b
WIP
endsnippet

snippet BSearch "binary search" b
WIP
endsnippet

snippet KMP "KMP algorithm" b
WIP
endsnippet

# vim:ft=snippets:
