!git/common.gitconfig
!git/global.gitignore
*.pyo
.DS_Store
asciinema/install-id
cargo
coc
codeforces
configstore
figma/api_tokens
gatsby
gatsby
git
karabiner/automatic_backups
nvim/tmp
others_pbkey/
tmux/plugins
work_bin
yarn
zsh/vendor
thefuck/
