[submodule "zsh/vendor/zsh-completions"]
	path = zsh/vendor/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
	shallow = true
[submodule "zsh/vendor/zsh-autosuggestions"]
	path = zsh/vendor/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
	shallow = true
[submodule "zsh/vendor/zsh-syntax-highlighting"]
	path = zsh/vendor/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
	shallow = true
[submodule "git/git-hooks"]
	path = git/git-hooks
	url = git@github.com:tizee/git-hooks
	shallow = true
