*.pyo
.DS_Store
asciinema/install-id
cargo
coc
codeforces
configstore
figma/api_tokens
gatsby
gatsby
git/gh.gitconfig
git/work.gitconfig
karabiner/automatic_backups
nvim/tmp
others_pbkey/
tmux/plugins
work_bin
yarn
thefuck/
*.zwc
*.old
emacs/custom.el
emacs/elpa
emacs/auto-save-list
emacs/url
emacs/recentf
emacs/places
emacs/history
flutter
clash
zsh/vendor
