*.pyo
.DS_Store
coc
codeforces
configstore
figma/api_tokens
gatsby
others_pbkey/
work_bin
yarn
thefuck/
*.zwc
*.old
flutter
clash
sonic-pi.net
zcd/zcddata
raycast/extensions
# cloudflare worker
.wrangler
