snippet quotes "quotes json template" b
{
  "$schema": "https://github.com/tizee/quotes/raw/main/schema.json",
  "name": "quotes on ${1}",
  "quotes": [
    {
      "quote": "",
      "source": ""
    },
  ]
}
endsnippet
