priority -10

# common procedures/classifiers/transformers
snippet def "define" b
(define $0)
endsnippet

snippet cond "cond" b
(cond $0)
endsnippet

snippet else "else" b
(else $0)
endsnippet

snippet or "or" b
(or $0)
endsnippet

snippet and "and" b
(and $0)
endsnippet

snippet not "not" b
(not $0)
endsnippet
