extends sh

snippet #! "#!/usr/bin/env zsh" b
#!/usr/bin/env zsh
$0
endsnippet

snippet function "zsh function" b
function ${1:name}(){
	$0
}
endsnippet

snippet case "zsh case" b
case ${1:name} in
	$0)
		;;
esac
endsnippet

# vim:ft=snippets:
