model = "gpt-5.1-codex-max"
model_reasoning_effort = "high"

[projects."/Users/tizee/projects/project-tampermonkey-scripts/tizee-scripts/tampermonkey-zhihu-dark-mode"]
trust_level = "trusted"

[projects."/Users/tizee/projects/playground"]
trust_level = "untrusted"

[notice]
"hide_gpt-5.1-codex-max_migration_prompt" = true
